
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>

<a href="/PdfReport/StaticPdfReport" class="btn btn-outline-primary">Statik pdf raporu</a>

