@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Onay Bekleyen Rezervasyonlarım</h1>
<h2>@ViewBag.v</h2>

<table class="table table-bordered">
</table>

