
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

@await Component.InvokeAsync("_AdminDashboardHeader")

<body>
    <!-- Layout wrapper -->
    <div class="row">

        @await Component.InvokeAsync("_DashboardBanner")

        @await Component.InvokeAsync("_Cards1Statistics")

        @await Component.InvokeAsync("_TotalRevenue")

        @await Component.InvokeAsync("_Cards2Statistics")
    </div>
    <div class="row">
        @await Component.InvokeAsync("_DestinationStatistic")
        @await Component.InvokeAsync("_DestinationStatistic2")

        @await Component.InvokeAsync("_AdminGuideList")
        <!--/ Transactions -->
    </div>
    <div class="content-backdrop fade"></div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    @await Component.InvokeAsync("_AdminScripts")
</body>
</html>